* {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    text-align: center;
    padding-top: 135px;
    background-image: url(https://i.ibb.co/V329YYG/Whats-App-Image-2023-03-20-at-23-08-59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;

}
img{width: 15%;
    height: auto;
    margin-top: 5px;}

h1 { margin-top: -10px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 80px;
    line-height: 80px;
    color: #095B2C;
}

div {
    border: 5px solid #095B2C;
    background: #ECE9E2;
    margin-left: 300px;
    margin-right: 300px;
    color: #095B2C;
}
p{font-weight: 100;}
h4 {

    margin-top: 5px;
    margin-bottom: 30px;
}

a {
    font-family: 'Inter', sans-serif;
    border: 1px solid #095B2C;
    background-color: #095B2C;
    border-radius: 80px;
    padding: 10px 50px;
    text-decoration: none;
    color: #ECE9E2;
}
a:hover{background-color: #198d4b;}

footer {
    padding-top: 25px;
    padding-bottom: 5px;
}
span{font-weight: 600;}